.form {
  margin: 10px;
  display: flex;
  gap: 5px;
}

.input {
  height: 25px;
  border: none;
  width: 300px;
  box-shadow: 1px 1px 4px gray;
}

.input:focus,
.input:active {
  outline: none;
  border: 1px solid gray;
}
.items{
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* color: rgb(75, 75, 212);
    font-weight: 600;
    font-size: 17px;
    width: fit-content; */
}
.item{
  color: rgb(75, 75, 212);
    font-weight: 600;
    font-size: 17px;
    width: fit-content;
}
.item:hover {
  color: rgb(199, 61, 151);
}